.follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    

    .user-info{
        display: flex;
      
        align-items: center;
        gap: 15px;
        cursor: pointer;
        margin-right: 10px;
    }
    .follow-link{
        color: var(--accent-color)
    }
    
}